<%
  let rowsFamily = [];
  gdf.forEach( _gdf => {
    if ( _gdf.value != 0 ){
      rowsFamily.push(`
        <tr class="family">
          <td class="name"> ${_gdf.name} </td>
          <td class="gdf number"> ${_gdf.value} </td>
          <td class="fr number"> ${_gdf.fr} </td>
        </tr>
      `);
    }
  });

  let rowsDamage = [];
  let acc = 0;
  damages.forEach( dam => {
    acc = acc + parseFloat(dam.percentage);
    rowsDamage.push(`
      <tr class="damage">
        <td class="name"> ${dam.name} </td>
        <td class="quantity number"> ${dam.quantity} </td>
        <td class="percentage number"> ${dam.percentage} % </td>
        <td class="number"> ${acc.toFixed(1)} % </td>
      </tr>
    `);
  });
%>

<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title></title>
    <script src="assets/js/domready.js"></script>
    <link href="assets/css/Chart.min.css" rel="stylesheet">
    <link href="assets/css/all.css" rel="stylesheet"> <%# load fontawesome styles %>
    <link href="assets/css/results.css" rel="stylesheet">
  </head>

  <body>

    <h2 style="text-align:center;"> Resultados </h2>

    <div id="gdt">
      <div>
        <b> Grau de deterioração total </b>
        <div> <%- gdt.value.toFixed(2) %> </div>
      </div>
      <div>
        <b> Nível de deterioração da estrutura </b>
        <div> <%- gdt.nivel %> </div>
      </div>
      <div>
        <b> Ações a serem tomadas </b>
        <div> <%- gdt.acao %> </div>
      </div>
    </div>

    <table id="familias-avaliadas">
      <tr>
        <th> Elementos avaliados </th>
        <th> Gdf </th>
        <th> Fr </th>
      </tr>

      <%- rowsFamily.join('\n'); %>

    </table>

    <canvas id="familiasChart"></canvas>

    <table id="ocorrencia-danos">
      <tr>
        <th> Tipo do dano </th>
        <th> Quantidade </th>
        <th> Porcentagem </th>
        <th> Acumulado </th>
      </tr>


      <%- rowsDamage.join('\n'); %>

    </table>

    <canvas id="danosChart"></canvas>

    <script src="assets/js/Chart.min.js"></script>
    <script src="assets/js/results.js"></script>
  </body>

</html>
